<div class="min-vh-100 d-flex flex-column bg-light">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
        <div class="container">

            <!-- Logo -->
            <a class="navbar-brand fw-bold fs-3 d-flex align-items-center" routerLink="/">
                <i class="fas fa-globe-asia me-2 text-primary"></i>
                KMARJ GIS
            </a>

            <!-- Mobile Button -->
            <button class="navbar-toggler" type="button" 
                    data-bs-toggle="collapse"
                    data-bs-target="#publicNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

           <!-- Menu -->
            <div class="collapse navbar-collapse" id="publicNavbar">
                <!-- Left Menu -->
                <div class="d-flex w-100 align-items-center">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link px-3"
                            routerLink="/"
                            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link px-3"
                            routerLink="/maps"
                            routerLinkActive="active">
                                Maps
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link px-3"
                            routerLink="/about"
                            routerLinkActive="active">
                                About
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link px-3"
                            routerLink="/layers"
                            routerLinkActive="active">
                                Layers
                            </a>
                        </li>
                    </ul>
                </div>
                

                <!-- Right Menu -->
                <div class="d-flex align-items-center">

                    <ng-container *ngIf="!isLoggedIn">

                        <div class="d-flex align-items-center gap-2">
                            <a class="btn btn-outline-light me-2"
                            routerLink="/account/login">
                                Login
                            </a>

                            <a class="btn btn-primary"
                            routerLink="/account/register">
                                Register
                            </a>
                        </div>

                    </ng-container>

                    <ng-container *ngIf="isLoggedIn" >
                        
                        <div class="d-flex align-items-center gap-2">
                            <a class="btn btn-outline-warning" routerLink="/app/home">
                                <i class="fas fa-user-circle me-1"></i>
                            </a>

                            <button class="btn btn-danger"
                                    (click)="logout()">
                                Logout
                            </button>
                        </div>

                    </ng-container>

                </div>

            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="flex-grow-1">
        <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-light py-4 mt-auto border-top border-secondary">
        <div class="container text-center">

            <h5 class="fw-bold mb-2">
                KMARJ GIS Platform
            </h5>

            <p class="text-light mb-1">
                GIS - Map - Spatial Data Platform
            </p>

            <small class="text-secondary">
                © 2026 All rights reserved.
            </small>

        </div>
    </footer>

</div>